{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  <article>
    <h1>Make a reservation</h1>
    <div class="row">
      <div class="column">
          {% csrf_token %}
          <form action="{% url 'littlelemon-api:bookings' %}" method="POST" id="form">
            <p>
              <label for="name">Name:</label>
              <input
                type='text'
                id='name'
                name='name'
                placeholder="Your Name"
                maxlength="200"
                required=""
              >
            </p>
            <p>
              <label for="reservation_date">Reservation Date:</label>
              <input type="date" placeholder="Select a Date" required="" id="reservation_date" name='reservation_date'>
            </p>
            <p>
              <label id="no_of_guests_val" for="no_of_guests">Number of Guests: 2</label>
              <input
                type="range"
                value=2
                min=1
                max=10
                placeholder="Number of Guests"
                required=""
                id="no_of_guests"
                name='no_of_guests'
                oninput="document.getElementById('no_of_guests_val').innerHTML = 'Number of Guests: ' + this.value;"
              >
            </p>
            <p>
              <label for="reservation_slot">Reservation time:</label>
              <select id="reservation_slot" name='reservation_slot'>
                <option value="0" disabled>Select time</option>
              </select>
            </p>
            <button type="submit" id="button">Reserve</button>
          </form>
      </div>
      <div class="column">
        <h2>Bookings For <span id="today"></span></h2>
        <div id="bookings">
        </div>
      </div>
    </div>
  </article>
</section>

<script>
  function getBookings() {
    let   reservedSlots = [];
    const resDate       = document.getElementById('reservation_date').value;
    document.getElementById('today').innerHTML = resDate;

    fetch("{% url 'littlelemon-api:bookings' %}" + '/' + resDate)
    .then(r => {
      if (r.status === 204) {
        r = [];
        return r;
      }
      if (!r.ok) {
        console.log(`Server error: [${r.status}] [${r.statusText}] [${r.url}]`);
        throw `Server error: [${r.status}] [${r.statusText}] [${r.url}]`;
      }
      return r.json();
    })
    .then(data => {
      let   bookings      = '';
      const reservedSlots = [];

      for (let x = 0; x < data.length; x++) {
        const item = data[x];
        reservedSlots.push(item.reservation_slot);
        bookings += `<p>${item.name} - ${formatTime(item.reservation_slot)}</p>`;
      }

      if (bookings === '') {
        bookings = "No bookings";
      }
      document.getElementById('bookings').innerHTML = bookings;

      //Time Slot Options
      let slotOptions = '<option value="0" disabled>Select time</option>';
      for (let i = 10; i <= 20; i++) {
        const label = formatTime(i);
        if (reservedSlots.includes(i)) {
          slotOptions += `<option value=${i} disabled>${label}</option>`;
        }
        else {
          slotOptions += `<option value=${i}>${label}</option>`;
        }
      }
      document.getElementById('reservation_slot').innerHTML = slotOptions;
    })
    .catch(err => {
      console.debug("Error in fetch", err);
    });
  }

  function formatTime(time) {
    const ampm = time < 12 ? 'AM' : 'PM';
    const t = time < 12 ? time : time > 12 ? time - 12 : time;
    const label = `${t} ${ampm}`;
    return label;
  }

  const date            = new Date();
  const reservationDate = document.getElementById('reservation_date');

  reservationDate.value = `${date.getFullYear()}-${(date.getMonth() + 1).toString().padStart(2, "0")}-${date.getDate().toString().padStart(2, "0")}`;
  reservationDate.addEventListener('change', () => getBookings());

  getBookings();

  document.getElementById('form').addEventListener("submit", function (e) {
    // on form submission, prevent default
    e.preventDefault();

    fetch(
      this.action
    , { method: 'post', body: new FormData(this) }
    )
    .then(r    => r.text())
    .then(data => {
      getBookings();
    });
  });
</script>
{% endblock %}

